.header{
    background-color: #151515;
    width: 1280px;
    height: 47px;
    top:2px;
    position: fixed;
}
img{
    position: absolute;
    top: -25px;
    padding-left: 52px;
}
a{
    position: absolute;
    font-size: 16px;
    color: #ffff;
    text-decoration:none;
    top: 23%;
    left: 70%;
}
button{
    width: 120px;
    height: 25.28px;
    border-radius:21px ;
    color: #ffff;
    background-color: #585757;
    font-size: 16px;
    text-align: center;
}
.entrar{
    position: absolute;
    top: 23%;
    left: 75%;
}
.cadastra{
    position: absolute;
    top:23%;
    left: 85.2%;
}